#nav-bar{
display: inline;
}

li{
    float: left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }



.container {
    display: block;
  justify-content: center;
  text-align: center;
  padding-top: 109px;
  }

.gsuite{
    height:14px;
    width: 14px;
    opacity: .50;
}

.gsuite:hover {
    opacity: 1;
}

  form {
      line-height: 34px;
      height: 34px;
      
  }

  form input {
      width:400px;
      height:22px;
  }

 a:link {
     text-decoration: none;
     padding: 4px;
     font-size: 14px;
     font-family: arial,sans-serif;
     color:#000;
     
 }

 a:hover {
     text-decoration: underline;
 }

 button{
     background: #f2f2f2;
     border: 1px solid #f2f2f2;
     border-radius: 2px;
     font-family: arial,sans-serif;
     font-weight: bold;
     font-size: 13px;
     padding: 10px 16px;
     padding-right: 16px;
     padding-left: 16px;
     margin: 11px 4px;
 }

 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: float;
    margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f2f2f2;
      line-height: 40px;
      font-family: arial,sans-serif;
  
    }

    .a {
        display: inline-block;
    padding: 14px 16px;
    
      }
    
      .b {
        display: inline-block;
        padding-right: 50px;
        padding: 14px 16px;
      }