.container {
    display: block;
  justify-content: center;
  text-align: center;
  padding-top: 109px;
  }

  form {
      line-height: 34px;
      height: 34px;
      
  }

  form input {
      width:400px;
      height:22px;
  }